body {
    background-color: grey;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 40px);
}

.header {
    background-color: darkgrey;
    grid-column: 3 / 11;
    text-align: center;
    height: 100px;
    border-radius: 20px;
}

.text {
    text-decoration: none;
    font-size: 30px;
    margin: 60px;
    text-decoration: underline;
}

.shop_name {
    text-align: center;
    font-size: 90px;
    grid-row: 8;
    grid-column: 4 / 10;
    background-color: transparent;
    border: 3px solid darkgrey;
    border-radius: 20px;
    height: 125px;
}